<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Water Depth</title>
</head>

<body>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
        <h1 style="color: blue;">Water Tank Depth</h1>
        <h3>This is great now it kind of works!!!</h3>
        <p>Depth: <%= data.depth %>
        </p>
    </div>
</body>

</html>